<style>
    .btn:hover {
        color: #fff;
        background: #e84393;
    }
    .title {
        color: #e84393 !important;
    }
    .title, .text {
        text-transform: none;
    }
</style>

<section class="home" id="home">

    <div class="content">
        <h3 class="title"> Chiroyli gullar </h3>
        <p class="text">Gullarning materiali sifatli yuvsa bo'ladi agar svetilnikli bo'lmasa, sovuqqa va quyoshga ham chidamli bir necha yilgacha sifati o'zgarmaydi. Namlangan salfetkada bemalol artib olsa bo'ladi</p>
        <a href="#products" class="btn text">Hoziroq xarid qiling</a>
    </div>
    
</section>