<section class="icons-container">

    <div class="icons shadow">
        <img src="images/icon-1.png" alt="">
        <div class="info">
            <h3>Bepul yetkazib berish</h3>
            <span>Barcha buyurtmalar bo'yicha</span>
        </div>
    </div>

    <div class="icons shadow">
        <img src="images/icon-2.png" alt="">
        <div class="info">
            <h3>10 kunlik qaytish</h3>
            <span>Barcha buyurtmalar bo'yicha</span>
        </div>
    </div>

    <div class="icons shadow">
        <img src="images/icon-3.png" alt="">
        <div class="info">
            <h3>Sovg'alar va takliflar</h3>
            <span>Barcha buyurtmalar bo'yicha</span>
        </div>
    </div>

    <div class="icons shadow">
        <img src="images/icon-4.png" alt="">
        <div class="info">
            <h3>Xavfsizlik</h3>
            <span>Ximoyalangan to'lovlar</span>
        </div>
    </div>
   
</section>

<!-- icons section ends -->