<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
   <link rel="shortcut icon" type="image/png" href="/images/favicon/icon.png"/>
   <link rel="stylesheet" href="/assets/css/style.css">

   <link
      rel="stylesheet"
      href="/css/vendor/feather/feather.css"
    />
   <link
   rel="stylesheet"
   href="/css/vendor/ti-icons/themify-icons.css"
   />
   <link
      rel="stylesheet"
      href="/css/vendor/vendor.bundle.base.css"
   />
    <!-- endinject -->
    <!-- Plugin css for this page -->
   <link
      rel="stylesheet"
      href="/css/vendor/datatables/datatables.css"
   />
   <link
      rel="stylesheet"
      type="text/css"
      href="/css/js/select.dataTables.min.css"
   />
   <!-- End plugin css for this page -->
   <!-- inject:css -->
   <link
      rel="stylesheet"
      href="/css/vertical-layout-light/style.css"
   />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <title>{{title}}</title>
</head>
<body>
   {{{body}}}
   <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
    <!-- plugins:js -->
    <script src="/assets/vendor/js/vendor.bundle.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/assets/vendor/chart.js/Chart.min.js"></script>
    <script src="/assets/vendor/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="/assets/dashboard/js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/assets/dashboard/js/off-canvas.js"></script>
    <script src="/assets/dashboard/js/hoverable-collapse.js"></script>
    <script src="/assets/dashboard/js/template.js"></script>
    <script src="/assets/dashboard/js/settings.js"></script>
    <script src="/assets/dashboard/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/assets/dashboard/js/dashboard.js"></script>
    <script src="/assets/dashboard/js/Chart.roundedBarCharts.js"></script>
    <!-- End custom js for this page-->
</body>
</html>